*{
    box-sizing: border-box;
    margin: 0;
}
.fundo{
    height: 600px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: hsl(0, 45%, 49%);
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 10px 5px 10px 5px hwb(0 0% 100% / 0.205);
}
.big{
    height: 100px;
    width: 100px;
    z-index: 1;
    animation: load-big 2s cubic-bezier(0,0.98,0.4,0.98) infinite alternate;
}
.med{
    height: 70px;
    width: 70px;
    z-index: 2;
    animation: load-med 2s cubic-bezier(0,0.98,0.4,0.98) infinite alternate;
}
.small{
    height: 40px;
    width: 40px;
    z-index: 3;
    animation: load-small 2s cubic-bezier(0,0.98,0.4,0.98) infinite alternate;
 }
@keyframes load-big{
    0%{
        transform: scale(0);
    }
    10%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes load-med{
    0%{
        transform: scale(0);
    }
    40%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes load-small{
    0%{
        transform: scale(0);
    }
    70%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
} 