*{
    box-sizing: border-box;
    margin: 0;
}
.template{
    background: rgb(71, 71, 71);
    aspect-ratio: 1/1;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 300px;
    height: 200px;
    background: hsl(51, 100%, 44%);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.459);

    transform: all 2s ;
}